MPI-Leader/.vs/MPI-Leader/v15/Browse.VC.opendb
MPI-Leader/.vs/MPI-Leader/v15/ipch/35668521f604e6de.ipch
MPI_ArraySum/.vs/ConsoleApplication2/v15/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
